@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 140px;
}


@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(14px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlide {
  animation: fadeSlide 0.6s ease-out forwards;
}
